<h6 class="headline">
  Create Todo
</h6>
<form (ngSubmit)="onSubmit()" #todoForm="ngForm">
  <div class="form-row">
    <div class="col-auto">
      <input type="text" class="form-control" placeholder="Description" id="Description" [(ngModel)]="model.description"
        name="description" #description="ngModel">

    </div>
    <div class="col-auto">
      <input type="text" class="form-control" placeholder="Responsible" id="responsible" [(ngModel)]="model.responsible"
        name="responsible" #responsible="ngModel">
    </div>
    <div class="col-auto">
      <select name="priority" id="priority" class="form-control" [(ngModel)]="model.priority" #priority="ngModel">
        <option value="low">Low</option>
        <option value="medium">Medium</option>
        <option value="high">High</option>
      </select>
    </div>
    <div class="col-auto">
      <button class="btn btn-primary" type="submit">Create</button>
    </div>
  </div>
</form>
<h6>Todo List: (Click the description to mark completed)</h6>
<div *ngIf="(todos | async)?.length!=0">
  <table class="table">
    <thead class="thead-inverse">
      <tr>
        <th>#</th>
        <th>Todo Description</th>
        <th>Responsible</th>
        <th>Priority</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let t of todos | async">
        <td><span (click)="toggleTodo(t)" [class.completed]="t.isCompleted">{{t.id}}</span></td>
        <td><span (click)="toggleTodo(t)" [class.completed]="t.isCompleted">{{t.description}}</span></td>
        <td><span (click)="toggleTodo(t)" [class.completed]="t.isCompleted">{{t.responsible}}</span></td>
        <td><span (click)="toggleTodo(t)" [class.completed]="t.isCompleted">{{t.priority}}</span></td>
        <td><button class="btn btn-danger" (click)="removeTodo(t)">Remove</button></td>
      </tr>
    </tbody>
  </table>
</div>
