<p class="text-right">
  <span class="badge badge-secondary">
    last Update: {{(lastUpdate | async) | date: mediumTime}} | Total Items: {{(todos | async).length}}
  </span>
  <button class="btn btn-primary" (click)="clearTodos()">
    Delete All
  </button>
</p>
